.destination
{
    margin: 4rem 6rem;
    text-align: center;
}
.first-des
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}
.firsttex
{
    width: 45%;
    text-align: start;

}
.firsttex h1
{
    padding-bottom: 2rem;
}
.image
{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}
.image img
{
    width: 50%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
}
.image img:nth-child(2)
{
    position: absolute;
    top: -10%;
    right: 0;
    padding-left: 2px;
}
@media screen and (max-width:850px){
    .destination
{
    margin: 4rem 2rem;
    text-align: center;

}
.first-des
{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;
}
.firsttex
{
    width: 100%;

}
.image
{
    width: 100%;
}

}